@media screen and (max-width: 1400px) {
    .resp-grid .col-4 {
        width: 25%;
    }
}

@media screen and (max-width: 1250px) {
    .resp-grid .col-4 {
        width: 33.33333%;
    }
}

@media screen and (max-width: 1000px) {
    .resp-grid .col-4 {
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    .resp-grid .col-4 {
        width: 100%;
    }
}

.col-4 {
    width: 20%;
}
